[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[user]
        name = himanshurd
        email = 91275023+himanshurd@users.noreply.github.com
